.container {
  @media only screen and (min-width: 250px) and (max-width: 400px) {
    .text-zone h1 {
      left: 15rem;
      font-size: 30px;
      top: 40px;
    }
    .container1 {
      top: -20px;
    }
    .split {
      width: 50%;
      height: 20%;
    }
    h1 {
      font-size: 2rem;
      left: 40%;
    }
    .btn {
      width: 5rem;
      padding: 5px 5px;
      left: 40%;
    }
  }
  @media only screen and (min-width: 400px) and (max-width: 700px) {
    .text-zone h1 {
      left: 15rem;
      font-size: 30px;
      top: 40px;
    }
    .container1 {
      top: -20px;
    }
    .split {
      width: 50%;
      height: 20%;
    }
    h1 {
      font-size: 2rem;
      left: 40%;
    }
    .btn {
      width: 5rem;
      padding: 5px 5px;
      left: 40%;
    }
  }
  @media only screen and (min-width: 700px) and (max-width: 1100px) {
    .text-zone h1 {
      left: 15rem;
      font-size: 30px;
      top: 40px;
    }
    .container1 {
      top: -20px;
    }
    .split {
      width: 50%;
      height: 50%;
    }
    h1 {
      font-size: 2rem;
      left: 40%;
    }
    .btn {
      position: relative;
      margin: 15px 15px 0px 15px;
      width: 80%;
      padding: 5px 5px;
      left: 45%;
      top: 14rem;
    }
  }
}
.my-project {
  @media only screen and (min-width: 250px) and (max-width: 400px) {
    .text-zone h1 {
      left: 15rem;
      font-size: 30px;
      top: 40px;
    }
    .container1 {
      top: -20px;
    }
    .split {
      width: 50%;
      height: 25%;
    }
    h1 {
      font-size: 1.3rem;
      left: 45%;
    }
    .btn {
      width: 5rem;
      padding: 2px 2px;
      left: 40%;
      position: relative;
      top: 5rem;
      margin: 5px;
    }
  }
  @media only screen and (min-width: 400px) and (max-width: 700px) {
    .text-zone h1 {
      left: 15rem;
      font-size: 30px;
      top: 40px;
    }
    .container1 {
      top: -20px;
    }
    .split {
      width: 50%;
      height: 32%;
    }
    h1 {
      font-size: 2rem;
      left: 75%;
      position: relative;
    }
    .btn {
      width: 5rem;
      padding: 5px 5px;
      left: 40%;
      position: relative;
      top: 1rem;
    }
  }
}
